#source: https://github.com/github/gitignore/tree/main

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/*.exe
bin/*.out
bin/*.app
game/*.exe
game/*.out
game/*.app

# Directories
bin/
game/

# misc
data.json